.App {
  text-align: center;
  font-family: 'arial';
}
.tableContainer {
  display: block;
  width: 600px;
  margin: 0 auto;
  transform: translate(0%, 50px);
}
table {
  width: 600px;
  border-collapse: collapse;
  border: 1px solid #8b5cf6;
  text-align: center;
  color:#525252;
}
th, td {
  border: 1px solid #8b5cf6;
  text-align: center;
  padding: 12px;
}